
<h1>Admin Pannel</h1>
<a asp-controller="Admin" , asp-action="IndexArticles">News</a>
<a asp-controller="Admin" , asp-action="IndexBaits">Baits</a>
<a asp-controller="Admin" , asp-action="IndexLures">Lures</a>
<a asp-controller="Admin" , asp-action="IndexFish">Fish</a>
<a asp-controller="Admin" , asp-action="CreateRole">CreateRole</a>
<a asp-controller="Admin" , asp-action="SetUserRole">SetUserRole</a>
<a asp-controller="Admin" , asp-action="IndexComments">Comments</a>
@*<div><partial name="CreateRole" /></div>
<div><partial name="SetUserRole"/></div>*@