@model Lovd.Models.Article
@using Microsoft.AspNetCore.Identity

@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


     <script src="https://cdn.tiny.cloud/1/3ejelh8i40w01qxp8jxzhy9zjjdmewyesaee3cnfvkwkkmor/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<h1>Create
   
</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Admin" asp-action="CreateArticles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsHtml" class="control-label"></label>
                <textarea asp-for="NewsHtml" class="textarea" ></textarea>
                <span asp-validation-for="NewsHtml" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" hidden class="control-label"></label>
                <input asp-for="UserId" hidden value="@UserManager.GetUserId(System.Security.Claims.ClaimsPrincipal.Current)">
            </div>
            <div class="form-group">
                <label asp-for="DateNews" class="control-label"></label>
                <input asp-for="DateNews" class="form-control" />
                <span asp-validation-for="DateNews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label text="PhotoPreview" class="control-label"></label>
                <input  type="file"   required name="PhotoPreview"  class="form-control" />
             
            </div>
            <div class="form-group">
                <label asp-for="Announce" class="control-label"></label>
                <input asp-for="Announce" class="form-control" />
                <span asp-validation-for="Announce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexArticles">Back to List</a>
</div>
<style>.textarea{width:100%}</style>

@section Scripts {    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ]
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
