@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="text-center">

<form   asp-controller="Admin"  enctype="multipart/form-data" asp-action="Test"> 
    <input type="file" name="filemy">
    <button type="submit">Post</button>
</form></div>

 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
