html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.myImg {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.myDivCover {
    width: 267px;
    height: 130px;
    border: 1px solid Red;
}
