@model Lovd.ModelsView.ArticleComments

@Html.Raw(@ViewBag.PageHtml)
 

<div>
 
    <partial name="CommentsCreatePartial" />
   @* <partial name="CommentsPartial" />*@

    @*<textarea asp-for="ArticleHtml" class="textarea" ></textarea>*@
</div>

<div><partial name="CommentsPartial" /></div>