@model Lovd.ModelsView.ArticleComments

@Html.Raw(@ViewBag.PageHtml)

<div class="btn-group">
    <span id="Likes" >@ViewBag.Likes</span>
    <a  id="LikesBtn" class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i>Нравится</a>
    <span id="Dislikes" >@ViewBag.Dislikes</span>
    <a id="DisLikesBtn" class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down">Дизлайк</i></a>
</div>
<div>

    <partial name="CommentsCreatePartial" />
    @* <partial name="CommentsPartial" />*@

    @*<textarea asp-for="ArticleHtml" class="textarea" ></textarea>*@
</div>
<div><partial name="CommentsPartial" /></div>
