@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Правила сайта
    Убедительная просьба, соблюдать правила сайта рыбалка в противном случае администрация ресурса оставляет за собой право забанить   аккаунты не добросовестных пользователей.

    Правила просты: Размещать материал только на рыболовную тему и все что связано с рыбалкой, запрещается копировать тексты с других ресурсов и размешать их на этом сайте, контент должен быть уникальным. Весь материал будет проверяться модератором, запрещается так же не цензурная брань, оскорбления в общение с пользователями сайта,комментарии, рекламные ссылки без согласия администратора, размещение ссылок и адреса эл. почты, а также комментарии экстремистского характера, хотя это уже уголовное дело.
</p>
